extends layout

block head-content
    link(rel="stylesheet" href="/style/admin.css")
    script(src="/js/admin.js")

block content
    header(class="header-container")
        h2 Admin Room
        div
            a(href="/admin/socketEvents")
                button Socket Events
            a(href="/")
                button Back to Login
    main(class="history-container")
        //- form(action="", method="get" class="form-filter")
        div(class="room-filter")
            select(name="Room-list" id="Room-list")
                option(value='All rooms') All rooms
                each room in roomList
                    option(id=`${room.id}` value=`${room.name}`)= room.name
        div(id='history-container')
            include historyPartial.pug